@(message: String)

@main(message) {
    <form action="/users/" method="POST">
        <div class="row">
            <div class="span3">
                <input type="text" placeholder="First Name" name="firstName" class="span3">
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <input type="text" placeholder="Last Name" name="lastName" class="span3">
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <input type="Submit" class="btn btn-large btn-block" />
            </div>
        </div>
    </form>

}
